<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/jquery/dist/jquery.js"></script>
<nav class="navbar fixed-bottom navbar-light bg-dark">
    <a class="navbar-brand text-light">Copyright &copy; 2023 by Group 5<a>
            <!-- Container for social media icons -->
            <div class="navbar-icons">
                <a href="https://github.com/Shinigami-Z" target="_blank">
                    <i class="fa-brands fa-github fa-2xl"></i>
                </a>
                <a href="https://www.linkedin.com/in/yousif-iskander-a0970124b/" target="_blank">
                    <i class="fa-brands fa-2xl fa-linkedin" id="link"></i>
                </a>
            </div>
</nav>
