
<!--Home Section-->
    <div id="wrapper">
        <h1>Welcome,</h1>
        <h1>This is Site helps track your upcoming Assignments</h1>
        <h1>Click Below to Proceed</h1>
        <a href="/Products" class="btn btn-primary"
           role="button"><i class="fa-solid fa-calendar-days fa-beat fa-lg"></i> Inventory</a>
    </div>
<!--End Home Section-->