<%- include ../partials/header.ejs %>
<link rel='stylesheet' href='/Content/login.css'/>
<%- include ../partials/main_nav.ejs %>
<main class="container">
    <!--Message Area-->
    <% if (message.length > 0) { %>
    <div class="alert alter-danger">
        <%= message %>
    </div>
    <% } %>

    <div class="row">
        <div class="offset">
            <h1>Login</h1>
            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control"
                    name="username" 
                    placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control"
                    name="password" 
                    placeholder="Enter password"
                    id="password" required>
                </fieldset>
                <fieldset class="form-group text-right">
                    <div class="buttons">
                        <div class ="btn">
                            <input type="submit" class="btn btn-success"
                            value="Login">
                            <a href="/">
                                <input type="button" class="btn btn-warning" value="Cancel">
                            </a>
                            <div id = "register-btn">
                                <a href="/register" id = "register">or Register Here</a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="auth-container">
                    <button id = "GitHub" class="auth" onclick="window.location.href='/auth/github'"><img src = "/Asset\\GitHub-logo.png" height = "30px" class = "logo">Login with GitHub</button>
                    <button id = "Google" class="auth" onclick="window.location.href='/auth/google'"><img src = "/Asset\\goole-logo.png" height = "30px" class = "logo">Login with Google</button>
                    <button id = "Discord" class="auth" onclick="window.location.href='/auth/discord'"><img src = "/Asset\\discord-logo.png" height = "20px" class = "logo">Login with Discord</button>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include ../partials/footer.ejs %>
